body{
	background-color: #f6f5f5;
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
section{
	width: 100%;
	height: 95vh;
	background-image: url("images/bg.png");
	background-repeat: none;
	background-size: cover;
	position: relative;
}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	padding: 0px 5%;
}
nav ul{
	display: flex;
}
nav ul li a{
	margin: 30px;
	font-family: myriad pro regular;
	color: #505050;
	font-size: 15px;
	font-weight: 700;
}
.logo{
	font-family: RoadTest;
	color: #000000;
	font-size: 22px;
}
.active{
	font-weight: bold;
	color: #2d2a2a;
}
.text-container p:nth-child(1){
	font-family: calibri;
	font-weight: bold;
	color: #6d6d6d;
	font-size: 22px;
}
.text-container p:nth-child(2){
	font-family: calibri;
	font-weight: bold;
	letter-spacing: 1px;
	color:#8395a7;
	font-size: 60px;
}
.text-container p:nth-child(3){
	font-family: myriad pro regular;
	color: #403e3e;
	font-size: 30px;
	line-height: 30px;
}
.text-container p{
	line-height: 0px;
	margin: 45px 0px 25px;
}
.text-container{
	position: absolute;
	left: 13%;
	top: 42%;
	transform: translate(-13%,-42%);
}
.text-container button{
	width: 130px;
	height: 42px;
	border-radius: 10px;
	font-family: calibri;
	font-weight: bold;
	font-size: 14px;
	outline: none;
	margin: 0px 10px;
}
.hire-btn{
	border: 2px solid #373636;
	color: #373636;
}
.down-cv{
	border: none;
	background-color: #0b0b0b;
	color: #FFFFFF;
}
button:active{
	transform: scale(1.1);
}
.model{
	height: 543.8px;
	position: absolute;
	bottom: 0px;
	left: 70%;
	transform: translateX(-65%);
}
.about-container{
	width: 80%;
	height: 330px;
	background-color: #FFFFFF;
	border-radius: 20px;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: -4% auto 20px auto;
	position: relative;
	justify-content: space-evenly;
	align-items: center;
}
.about-container img{
	height: 250px;
}
.about-text{
	width: 550px;
}
.about-text p:nth-child(1){
	color: #403e3e;
	font-family: myriad pro;
	font-weight: bold;
	font-size: 23px;
	line-height: 0px;
}
.about-text p:nth-child(1){
	color: #403e3e;
	font-family: myriad pro;
	font-weight: bold;
	font-size: 23px;
	line-height: 0px;
}
.about-text p:nth-child(2){
	color: #3e3d3d;
	font-family: myriad pro;
	font-weight: bold;
	line-height: 0px;
}
.about-text p:nth-child(3),
.about-text p:nth-child(4){
	color: #7e7d7d;
	font-family: calibri;
	font-size: 16px;
}
.about-text button{
	width: 120px;
	height: 40px;
	color: #FFFFFF;
	border: none;
	font-family: calibri;
	background-color: #262525;
} 
.skills-section{
	width: 100%;
	height: 400px;
}
.skill{
	width: 80%;
	margin-left: 10%;

}
.skill h1{
	text-align: center;
	color: #333;
	padding: 1rem;
	position: relative;
}
.skill-container{
	width: 80%;
	margin-left: 10%;
}
.skill-box1{
	width: 30%;
	float: left;
	margin-right: 3%;
	margin-left: 1%;
}
.skill-box2{
	width: 30%;
	float: left;
	margin-right: 3%
}
.skill-box3{
	width: 30%;
	float: left;
	margin-right: 3%
}
.skill-title{
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.skill-box1,.skill-box2,.skill-box3 p{
	text-align: justify;
	font-size: 18px;

}
.skill-icon{
	padding-top: 30px;
	width: 50px;
}


.services{
	height: 650px;
	background-color: #FFFFFF;
	padding: 2% 10% 0px 10%;
	margin-top: 20px;

}
.services-text p:nth-child(1){
	font-family: calibri;
	font-weight: bold;
	color: #3e3d3d;
	font-size: 30px;
	line-height: 0px;

}
.services-text p:nth-child(2){
	font-family: calibri;
	font-weight: bold;
	color: #3e3d3d;
	font-size: 18px;
	line-height: 5px;

}
.services-text p:nth-child(3){
	font-family: calibri;
	color: #7e7d7d;
	font-size: 16px;
}
.services-text{
	width: 500px;
	margin: 50px 0px;
}
.box-1,.box-2,.box-3{
	width: 300px;
	height: 320px;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.box-container{
	display: flex;
	justify-content: space-between;
}
.box-1{
	background-image: url('images/services-1.png');
}
.box-2{
	background-image: url('images/services-2.png');
}
.box-3{
	background-image: url('images/services-3.png');
}
.box-1 span,
.box-2 span,
.box-3 span{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: calibri;
	font-weight: bold;
}
.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2){
	color: #FFFFFF;
	font-family: calibri;
	font-size: 23px;
	line-height: 0px;
}
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3){
	font-family: calibri;
	text-align: center;
	width: 230px;
	margin: 0px 0px 20px 0px;
	color: #8f8f8f;
}
.box-1 button,
.box-2 button,
.box-3 button{
	width: 100px;
	height: 30px;
	background-color: #FFFFFF;
	border: none;
	outline: none;
	border-radius: 5px;
}
input {
	outline: none;
	border: none;
}
textarea {
  outline: none;
  border: none;
}
.contact-section {
  width: 100%;  
  height: 600px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: relative;
  background-color: #E6E3E3;
}

.contact{
  width: 550px;
  background: transparent;
  padding: 50px 0px 160px 0px;
}

.form-title {
  display: block;
  font-family: Ubuntu-Bold;
  font-size: 30px;
  color: #403866;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 49px;
}

.field {
  position: relative;
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 31px;
  font-family: Ubuntu-Bold;
  font-size: 18px;
  color: #333;
  line-height: 1.2;
}
input.field {
  height: 62px;
  padding: 0 35px 0 35px;
}
textarea.field {
  min-height: 169px;
  padding: 19px 35px 0 35px;
}
.pad1,.pad2{
  margin-bottom: 20px;
}
.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}
.btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 300px;
  height: 62px;
  background-color: transparent;
  border-radius: 31px;
  font-family: Ubuntu-Bold;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 31px;
  background-color: #827ffe;
  pointer-events: none;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn:hover:before {
  background-color: #403866;
  width: calc(100% + 20px);
}
footer{
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #576574;
	position: relative;

}
footer p{
	font-family: calibri;
}
footer p:nth-child(1){
	font-size: 22px;
	font-weight: bold;
	color: #191919;
	line-height: 10px;
	padding-top: 50px;
}
footer p:nth-child(2){
	font-size: 18px;
	color: #191919;
	width: 600px;
	text-align: center;
}
.social-icons a{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #dfe6e9;
	display: flex;
	justify-content: center;
	margin: 20px 10px;
}
.social-icons{
	display: flex;
	padding-bottom: 20px;
}
.fab{
	padding: 12px;
}




